<div class="container px-4 py-6 min-h-screen bg-black text-white">

  <button
    routerLink="/dashboard/products"
    class="text-violet-400 hover:text-violet-300 mb-6 inline-flex items-center transition"
  >
    ← Back to Products
  </button>

  <div
    *ngIf="product"
    class="max-w-4xl mx-auto bg-[#0f172a]  rounded-xl shadow-lg p-6 space-y-4"
  >
    <h1 class="text-3xl font-bold text-white">{{ product.title }}</h1>

    <img
      [src]="product.images[0]"
      alt="Product Image"
      class="w-64 h-auto rounded-lg shadow-md"
    />

    <div class="space-y-2">
      <p>
        <span class="font-semibold text-gray-300">Price:</span>
        <span class="text-green-400 font-medium">${{ product.price }}</span>
      </p>
      <p>
        <span class="font-semibold text-gray-300">Description:</span>
        <span class="text-gray-300">{{ product.description }}</span>
      </p>
      <p>
        <span class="font-semibold text-gray-300">Brand:</span>
        <span class="text-gray-200">{{ product.title }}</span>
      </p>
      <p>
        <span class="font-semibold text-gray-300">Category:</span>
        <span class="text-gray-200">{{ product.category }}</span>
      </p>
    </div>
  </div>

</div>
